body {
  font-family: Helvetica;
}

div {
  width: 48%;
}

.normaldiv {
  font-size: 18px;
  line-height: 1.3em;
  vertical-align: top;
  box-sizing: border-box;

  background: lightgreen;
  border: solid green 1px;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-family: Helvetica;
  font-size: 30px;
}

.cellgreen {
  background-color: rgb(124, 252, 0);
}

.cellred {
  background-color: rgb(250, 128, 114);
}

.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.w3-green,
.w3-hover-green:hover {
  color: #fff !important;
  background-color: #4caf50 !important;
}
